/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 16px;
  line-height: 1.4;
  font-family: "Truculenta", sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* eventaully change colors to ... https://color.hailpixel.com/#2EE7FF,F5E900,FFB3FA,FFFAF5  */

/**BASE STYLES**/

html,
body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #ffb3fa;
  color: #430052;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper nav {
  border: #2ee7ff 0.3rem solid;
  border-style: outset;
  border-radius: 15px;
  background-color: #f5e900;
  padding: 0.625rem;
}

header {
  margin: 0.3rem;
  display: flex;
  justify-content: center;
}

nav a {
  font-size: 2rem;
  color: #fffaf5;
  text-shadow: #ff69b4 0.125rem 0.125rem;
  text-decoration: none;
  padding: 0.625rem;
}

nav a:hover {
  color: #ff69b4;
  text-shadow: none;
}

.content-wrapper h1 {
  text-align: center;
  width: 80%;
}

/*"Littles" on homepage*/
h1 span {
  text-shadow: #fffaf5 0.1875rem 0.1875rem;
  border-top: #fffaf5 solid 0.1875rem;
  font-size: 3.125rem;
}

#main-title h1 {
  width: 40%;
  border-bottom: #fffaf5 solid 0.1875rem;
}

#hero-image {
  text-align: center;
  margin-bottom: 1.875rem;
}

#hero-image img {
  border: 0.3125rem solid #2ee7ff;
  border-style: outset;
  width: 80%;
  height: auto;
}

#about .content-wrapper {
  flex-direction: column;
}

#about h2 {
  text-shadow: #fffaf5 0.125rem 0.125rem;
}

#about h3,
#about h5,
#about p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 80%;
  padding: 0.4rem;
  border: #d68591 0.3125rem solid;
  border-style: outset;
  border-radius: 15px;
  background-color: #fffaf5;
  text-align: center;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f5e900;
  border-top: #2ee7ff solid 0.25rem;
  width: 100%;
}

footer h5 {
  font-size: 1.6rem;
  margin-top: 2%;
}

/* Instagram icon color styling */
footer a {
  font-size: 3.13rem;
  color: transparent;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
  margin-bottom: 4%;
}

/* Photo Page */

.photo-library {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.photo-library img {
  width: 20%;
  margin: 0.125rem;
  object-fit: scale-down;
  border: black solid 0.188rem;
  background-color: #000;
}

/*Places Page*/

.map-key-wrapper {
  margin: 0.625rem;
  border: solid 0.1875rem #f5e900;
  background-color: white;
  padding: 1rem;
  width: 30%;
}

.map-key-wrapper h3 {
  text-align: center;
}

#visited {
  display: flex;
  justify-content: left;
  align-items: center;
}

#visited-color {
  background-color: #f5e900;
  height: 3.125rem;
  width: 3.125rem;
  margin: 0.625rem;
}

#not-visited {
  display: flex;
  justify-content: left;
  align-items: center;
}

#not-visited-color {
  background-color: #430052;
  height: 3.125rem;
  width: 3.125rem;
  margin: 0.625rem;
}

/* Map */
#mapdiv {
  height: 80%;
  min-height: 15.5rem;
  width: auto;
  text-align: center;
  margin: 1rem;
}

/*END OF AUTHOR'S CUSTOM STYLES*/

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /*Tablet styles here*/
  html {
    font-size: 22px;
  }

  .map-key-wrapper {
    width: 30%;
  }

  #mapdiv {
    height: 80%;
    min-height: 19rem;
  }
} /* don't delete */

@media only screen and (min-width: 1150px) {
  /*Desktop styles here*/
  html {
    font-size: 25px;
  }

  #hero-image {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  #hero-image img {
    width: 20%;
    height: auto;
  }

  .map-key-wrapper {
    width: 20%;
  }

  #mapdiv {
    height: 80%;
    min-height: 22rem;
  }
} /* don't delete */

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
